@media only screen and (max-width: 550px) {
    .navbar{
        display: none;
    }
    body{
        background: none;
        background: url('Images/resBG.png')no-repeat;
        background-color: rgba(237, 237, 236, 0.319);
        padding: 0%;
        margin: 0%;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(255, 184, 5);
        margin: 0;
        height: 70px;
        padding: 0;
        width: auto;
        border-radius: 8px;
        box-shadow: 6px 5px 14px rgba(137, 135, 135, 0.634);
    }
    .mid li{
        margin: 0;
        background-color: rgb(197, 141, 1);
        color: white;
        text-decoration: none;
        list-style: none;
    }

    .left{
        display: flex;
        width: 100%;
    }
    .left img{
        display: flex;
        width: 12%;
        margin: 10px;
    }
    .navbar.responsive{
        border: 4px solid red;
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    h3{
        display: none;
    }
    .container{
        margin: 100px auto;
        background-color: white;
        box-shadow: 6px 2px 14px rgba(128, 128, 128, 0.558);
        padding: 1px 15px;
        width: 90%;
        /* border: 2px solid green; */
    }
    .form-group{
        /* border: 2px solid blue; */
        margin: 5px ;
        padding: 0px;
        margin: 20px 0px;
        width: auto;
    }
    .container input{
        margin: 0px;
        font-size: 18px;
        border: 0;
        transition: 0.25s;
        box-shadow: 0px 0px 3px 0px rgba(195, 193, 193, 0.688) inset;
        width: 93%;
        padding: 7px;
    }
    .container input:focus{
        border: 1px solid rgb(0, 204, 255);
        box-shadow: 0px 0px 3px 3px rgba(0, 204, 255, 0.21);
        outline: none;
    }
    .form-group button{
        width: 100%;
        padding: 5px;
        font-size: 18px;
        padding: 7px;
        letter-spacing: 2px;
    }
    h4{
        font-size: 18px;
        width: auto;
    }
    #menu{
        position: absolute;
        right: 4px;
        margin: 25px;
        width: 5%;
        padding: 5px;
    }

    #menu img{
        width: 100%;
        margin: 0%;

    }

    .btn{
        padding: 6px;
        font-size: 14px;
    }
    button{
        background-color: orange;
        border: 3px solid white;
    }
    .medianav ul{
        margin: 0px;
        padding: 0px;
    }
    .medianav li, .meadianav ul li a{
        text-decoration: none;
        margin: 0;
        padding: 5px;
        background-color: orange;
    }
    .medianav{
        display: none;
    }

    .medianav.responsive {
        display: block;
    }
    .dec{
        text-decoration: none;
    }
}
