body {
    margin: 0px;
    padding: 0px;
    background: url('../Images/BG.jpg') no-repeat;
    height: 701px;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.left {
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 9px;
    /* border: 2px solid red; */
}

.left img {
    width: 62px;
}

.mid {
    display: block;
    top: 10px;
    margin: 20px 60px;
    width: auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 26px;
    display: flex;
    /* border: 2px solid blue; */
}

.navbar {
    margin: 0px;
    width: 100%;
}

.navbar li {
    font-size: 16px;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 17px 17px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(99, 104, 99);
}



.container {
    width: 43%;
    margin: 99px 48px auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 12px;
}

.container h3 {
    display: block;
    margin: auto;
    width: 53%;
}

.btn {
    background-color: black;
    padding: 1px 10px;
    color: aliceblue;
    font-size: 17px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover {
    background-color: rgb(141, 140, 140);
}

form button {
    border: 1px solid white;
    padding: 1px 10px;
    background-color: rgb(20, 19, 19);
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    display: block;
    margin: 10px;
    width: 53%;
    padding: 6px;
}

form button:hover {
    background-color: rgb(141, 140, 140);
    cursor: pointer;
}

form input {
    border: 1px solid white;
    padding: 1px 10px;
    font-size: 17px;
    color: rgb(7, 14, 22);
    border-radius: 7px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    display: block;
    margin: 10px;
    width: 53%;
    padding: 6px;
}
.navbar .icon {
    display: none;
}

